

<div class="jumbotron">
  <p>Reviews</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Sales</th>
      <th>Sales Volume</th>
      <th>Sales Source</th>
      <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="review in reviews">
      <td>{{review.title}}</td>
      <td>{{review.location}}</td>
      <td>
        <p>TotalSales: {{review.sales.realTimeTotalSales}}</p>
        <p>Per Order Average: {{review.sales.realTimePerOrderAverage}}</p>
      </td>
      <td>Sales Volume Between 11am - 1pm: {{review.salesVolume.between11_1}}</td>
      <td>
        <p>Online: {{review.salesSource.Online}}</p>
        <p>Phone In: {{review.salesSource.phoneIn}}</p>
      </td>
      <td>{{location}}</td>
    </tr>
    </tbody>
  </table>

</div>

<!--
<div class="jumbotron">
  <p>Write A Review</p>
  <form>
    <div class="form-group">
      <label>Title</label>
      <input ng-model="newReview.content" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
      <label>Review</label>
      <input ng-model="newReview.metadata.review" class="form-control" placeholder="Review">
    </div>
    <div class="form-group">
      <label>Rating</label>
      <input ng-model="newReview.metadata.rating" class="form-control" placeholder="Rating (e.g. 5/5)">
    </div>
    <button class="btn btn-primary" ng-click="postReview()">Submit</button>
  </form>
</div>
-->

